@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/merriweathersans/v14/2-cO9IRs1JiJN1FRAMjTN5zd9vgsFF_5asQTb6hZ2JKZou4ViesBzRRXnKOr.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/merriweathersans/v14/2-cO9IRs1JiJN1FRAMjTN5zd9vgsFF_5asQTb6hZ2JKZRekViesBzRRXnKOr.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/merriweather/v22/u-440qyriQwlOrhSvowK_l5-fCZMdeX3rg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* #gap {
  height: 600px;
  width: 100vw;
} */

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url("http://nifty-beast-realm.appspot.com/static/banner.jpg ");
  background-color: black;
  margin: 0 auto;
  color: #d4d4d4;
  font-family: "Merriweather Sans", sans-serif;
}

header {
  /* height: 400px; */
  width: 100vw;
  text-align: center;
  padding-top: 50px;
  /* position: absolute;
  top: 350px;
  left: 50%;
  transform: translate(-50%, -50%); */
}

/* header {
  background: #C33764;
  background: -webkit-linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.8)), url("https://images.squarespace-cdn.com/content/551a2e0ee4b0bf065e1b3b3f/1473853996753-KGM46OPOE24BU3FCYBP8/mtgmasterpiecetheaterbanner.jpg?content-type=image%2Fjpeg");
  background-image: linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.8)), url("https://images.squarespace-cdn.com/content/551a2e0ee4b0bf065e1b3b3f/1473853996753-KGM46OPOE24BU3FCYBP8/mtgmasterpiecetheaterbanner.jpg?content-type=image%2Fjpeg");
  height: 600px;
  width: 100vw;
  background: black;
} 
*/

/* img {
  opacity: 0.5;
  border-radius: 45px;
} */


/*.banner-image {
  background-image: url("{{ url_for('static', filename='banner.gif') }});
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://64.media.tumblr.com/9f3fd835f1e629c70ae47d34db48f537/tumblr_nrjeksSv0R1qaz31do1_1280.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
} 
*/ 

/* #banner {
  margin: auto;
  height: 600px;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: block;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://64.media.tumblr.com/9f3fd835f1e629c70ae47d34db48f537/tumblr_nrjeksSv0R1qaz31do1_1280.jpg");
}
*/ 
h1 {
  font-family:"Merriweather Sans", sans-serif;
  font-weight: bold;
  color: rgb(255, 255, 255);
  font-size: 65px;
  text-shadow: 4px 4px #000000;

}

h2 {
  font-family:"Merriweather Sans", sans-serif;
  color: #d4d4d4;
  text-align: center;
  font-size: 20px;
  text-shadow: 3px 3px #000000;
}

/* .banner-text {
  text-align: center;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

.table-area {
  background-color: hsl(0, 0%, 0%)
}

table {
    border-collapse: collapse;
    width: 85vw;
    /* border: 3px solid rgb(107, 73, 0); */
    margin: 40px auto;
  
  }


  th, td {
    text-align: left;
    padding: 9px 15px;
  }

  td {
    color:hsl(0, 0%, 60%)
  }

  th {
    font-size: 18px;
    line-height: 150%;
    text-align: left;
  }
  
tr:nth-child(even) {
  background-color: rgba(82, 82, 82, 0.5);
}

tr td:first-child {
  -moz-border-radius-topleft: 13px;
  -moz-border-radius-bottomleft: 13px;
  -webkit-border-top-left-radius: 13px;
  -webkit-border-bottom-left-radius: 13px;

}

tr td:last-child {
  -moz-border-radius-topright: 13px;
  -moz-border-radius-bottomright: 13px;
  -webkit-border-top-right-radius: 13px;
  -webkit-border-bottom-right-radius: 13px;
}

table a {
  color: hsl(0, 0%, 85%)
}

table a:hover {
  color: hsl(0, 0%, 100%);
  text-decoration: underline;
}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

  body {
    background-size: 1024px;
  }
  
  header {
    height: 300px;
    padding: 40px;
  }

  h1 {
    font-size: 35px;
    margin-bottom: 5px;
  }

  h2 {
    margin-top: 10px;
    font-size: 13px;
    text-shadow: 1px 1px #000000;
  }

  p {
    font-size: 10px;
  }

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
  */
  td:nth-of-type(1):before { content: "Refresh"; }
	td:nth-of-type(2):before { content: "Price"; }
	td:nth-of-type(3):before { content: "Month +/-"; }
	td:nth-of-type(4):before { content: "Deck Name"; }
	td:nth-of-type(5):before { content: "User"; }
	td:nth-of-type(6):before { content: "Commander"; }
	td:nth-of-type(7):before { content: "Commander Price"; }
	td:nth-of-type(9):before { content: "Last Refresh"; }
	td:nth-of-type(8):before { content: "Season Price"; }
  /* td:nth-of-type(10):before { content: "GPA"; }*/
}

p {
  color: white;
  text-shadow: 1px 1px #000000;
}

a {
  color: rgb(194, 194, 194);
}

a:hover {
  color: white;
  text-decoration: underline;
}

#submit {
  background: rgba(82, 82, 82, 0.5);
  color: white;
  /* border-radius: 5px; */
}

.update {
  text-align: center;
  font-size: 25px;
  padding : 5px 20px;
  margin: 50px;
  background-color: rgba(82, 82, 82, 0.5);
  border-radius: 20px;
  width: 250px;
  margin: 50px auto;
  border: 5px solid rgb(88, 155, 0);
  display: block;
}

.update a {
  color: white;
  display: block;
}

.update:hover {
  text-align: center;
  font-size: 25px;
  padding : 5px 20px;
  margin: 50px;
  background-color: rgba(129, 129, 129, 0.5);
  border-radius: 20px;
  width: 250px;
  margin: 50px auto;
  border: 5px solid rgb(88, 155, 0);
}

.update a:hover {
  color: white;
  text-decoration: none;
}

.break {
  height: 1px;
  width: 100vw;
  background-color: black;
}

form, button, input, select, textarea {
  font-family: inherit;
  color: black;
  font-size: 100%;
}