{% extends "bootstrap/base.html" %}

{% block head %}
    {{ super() }}
    <meta name="description" content="Track the prices of your budget edh decks in a stable and easy way.">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1384705583832067"
     crossorigin="anonymous"></script>
{% endblock %}

{% block styles %}
{{super()}}
<link href="{{ url_for('static', filename='style20220612-3.css') }}" rel="stylesheet" type="text/css" > 
{% endblock %}

{% block navbar %}
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Navbar</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">edhbudget</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/edh-experimental">All decks</a></li>
                    <li><a href="/beta">Public Beta</a></li>
                    <li><a href="/faq">FAQ</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
{% endblock %}