{% extends 'base.html' %}

{% block title %}
{% endblock %}


{% block content %}
<div id="gap"></div>
<header>
<div class="container">
<div class="banner-image">
<div>
<h1 class="banner-text"> {{ title }}</h1>

</header>
</left>



{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

<div class = "text-area" style="text-align: center; background-color: rgb(41, 41, 41); margin-left: 30%; margin-right: 30%; padding: 20px; border: 5px; border-color: rgb(226, 130, 12);">

Edhbudget is an easy way track and compare the values of the decks in your edh playgroup.
<br>
<br>
This makes it easy to set a budget and avoid difficulties with different card editions changing in value over time.
<br>
<br>
See the <a href='faq'>FAQ</a> for more details about how prices are calculated and how seasons work.
<br>
<br>
Add your deck to get started:
</p>
</p>
<form action="" method="post" novalidate>
  {{ form.hidden_tag() }}
  <p><br>
      <b>Add Archidekt URL:</b>
      {{ form.url(size=32) }} {{ form.submit() }}

  </p>
</form> 
</div>
{% endblock %}
