{% extends 'base.html' %}


{% block content %}
<div id="gap"></div>
<header>
  <!-- <img id="banner" src="https://static1.squarespace.com/static/551a2e0ee4b0bf065e1b3b3f/551a6237e4b02e9aae0cd8be/57d9347dd1758e7b8ab50112/1473889192651/mtgmasterpiecetheaterbanner.jpg?format=1500w"></img> -->
<div class="container">
<div class="banner-image">
<div>
<h1 class="banner-text">{{deck_name}}</h1>
<br>
</div>
</div>
</header>
</left>



{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
<div class="table-area">
<table class="deck-detail-table">
    <tr>
        <th></th>
        <thead>
        <th>Card</th>
        <th>Season Price</th>
        <th>Next Season Price</th>
        </thead>
    </tr>
    {% for result in results %}
    <tr>
        <td><span >{{ result[0] }}</span></td>
        <td><span>{{ result[1] }}</span></td>
        <td><span>{{ result[2] }}</span></td>
    </tr>
    {% endfor %}
</table>

<br><br>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}
