{% extends 'bootstrap/base.html' %}
{% block title %}
    {{ title }}
{% endblock %}


{% block content %}
<script data-ad-client="ca-pub-1384705583832067" async
  src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<link href="{{ url_for('static', filename='style20220612-2.css') }}" rel="stylesheet" type="text/css" > 

<style>
  @media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

/*
Label the data
*/
td:nth-of-type(1):before { content: "Refresh"; }
td:nth-of-type(2):before { content: "Price"; }
td:nth-of-type(3):before { content: "Next Season Price"; }
td:nth-of-type(4):before { content: "Deck Name"; }
td:nth-of-type(5):before { content: "User"; }
td:nth-of-type(6):before { content: "Commander"; }
td:nth-of-type(7):before { content: "Commander Price"; }
td:nth-of-type(8):before { content: "Last Modified"; }
}
</style>
<div id="gap"></div>
<header>
  <!-- <img id="banner" src="https://static1.squarespace.com/static/551a2e0ee4b0bf065e1b3b3f/551a6237e4b02e9aae0cd8be/57d9347dd1758e7b8ab50112/1473889192651/mtgmasterpiecetheaterbanner.jpg?format=1500w"></img> -->
<div class="container">
<div class="banner-image">
<div>
<h1 class="banner-text"> {{ title }} budget</h1>
<!-- <h2 class="banner-text">Oathbreaker decks must be $35 or below. Oathbreakers themselves must be $10 or under. <br><br>
  For the deck price, card costs are calcualted with the cheapest edition of each card.
The price is also averaged over prices since 11/11/2020.</h2> -->
<left>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p><br>
        <b>Add Archidekt URL:</b>
        {{ form.url(size=32) }} {{ form.submit() }}

    </p>
</form>
</header>
</left>



{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
<div class="table-area">

<center>
{% if experimental %}
<a href='edh' style="color:rgb(255, 102, 26);">See only decks in play</a>
{% endif %}
{% if not experimental %}
<a href='edh-experimental' style="color:rgb(255, 102, 26);">See all decks</a>
{% endif %}
<a href='edh-experimental?owner=xolith' style="color:rgb(255, 23, 185);">xolith</a> 
<a href='edh-experimental?owner=xolith' style="color:rgb(255, 23, 185);">jfarley</a> 
<a href='edh-experimental?owner=xolith' style="color:rgb(255, 23, 185);">mbobin</a> 
<a href='edh-experimental?owner=xolith' style="color:rgb(255, 23, 185);">divinginvietnam</a> 
<a href='edh-experimental?owner=xolith' style="color:rgb(255, 23, 185);">Henrydrake</a> 
<a href='edh-experimental?owner=xolith' style="color:rgb(255, 23, 185);">Rossenheimer</a> 
<a href='edh-experimental?owner=xolith' style="color:rgb(255, 23, 185);">Mreddie0</a> 
<a href='edh-experimental?owner=xolith' style="color:rgb(255, 23, 185);">Zitzewitze</a> 

{% if title == 'edh' %}
<br>
Deck price includes commander, overall budget is ${{ budget }}.
{% endif %}

{% if title == 'oathbreaker' %}
<a href='edh'>edh</a>
<br>
Deck price doesn't include planeswalker, planeswalker budget is $10, main deck budget is {{ budget }}.
{% endif %}
<h2>Average deck price is {% if average_price > budget %}
<span style="color:rgb(209, 0, 0); font-weight: bold;">
  {% else %}
  <span style="color:rgb(88, 155, 0); font-weight: bold;">
    {% endif %}
    ${{ average_price }}
  </span>
</center>


<table>
    <tr>
        <th></th>
        <thead>
        <th></th>
        <th>Season<br>Price</th>
        <th>Next Season<br>Price</th>
        <th>Deck Name</th>
        <th>User</th>
        <th>Commander</th>
        <th>Commander<br>Price</th>
        <!-- <th>Card<br>Count</th> -->
        <th>Last Refresh</th>
        </thead>
    </tr>
    {% for result in results %}
    <tr>
      <td><a href="javascript:update_deck_id({{ result['id'] }});">
        <span id="deck-{{ result['id'] }}-refresh">🔄</span>
      </a></td>


      
      <td>
        <a href="deck?archidekt_id={{ result['id'] }}">
        <span id="deck-{{ result['id'] }}-deck_price-season">
          {% if result['deck_price_season'] > budget %}
          <div style="color:rgb(209, 0, 0); font-weight: bold;">
          {% else %}
          <div style="color:rgb(88, 155, 0); font-weight: bold;">
          {% endif %}
          ${{ result['deck_price_season'] }}
        </div>
      </span>
    </a>
    </td>

      
    <td>
      <a href="deck?archidekt_id={{ result['id'] }}">
      <span id="deck-{{ result['id'] }}-deck_price-season-new">
        ${{ result['deck_price_season_new'] }}
    </span>
  </a>
  </td>



        <div class='deck-ids' hidden>{{ result['id'] }}</div>
        <td>
          <a href="{{ result['url']}}">
            {{ result['name'] }}
          </a>

          {% if result['free_cards'] != 0 %}
          Weird cards detected
          {% endif %}

        </td>
        <td>
          <!-- <a href="{{ result['owner']}}"> -->
            <span id="deck-{{ result['id'] }}-owner">
              {{ result['owner'] }}
            </span>
          <!-- </a> -->
        </td>
        <td>
          {% if title == 'oathbreaker' %}
          <a href="https://oathbreaker.edhrec.com/oathbreakers/{{ result['commander'].replace(',','').replace(' ','-').lower()}}">
          {% else %}
          <a href="https://edhrec.com/commanders/{{ result['commander'].replace(',','').replace(' ','-').lower()}}">
          {% endif %}
            <span id="deck-{{ result['id'] }}-commander">
              {{ result['commander'] }}
            </span>
          </a>
        </td>
        <td><span id="deck-{{ result['id'] }}-commander_price">{{ result['commander_price'] }}</span></td>
        <!-- <td><span id="deck-{{ result['id'] }}-cards">{{ result['cards'] }}</span></td> -->
        <td><span id="deck-{{ result['id'] }}-modified">{{ result['modified'][:16] }}</span></td>
    </tr>
    {% endfor %}
</table>

<div class="update">
<a href="javascript:onLoad();">
  Update All
</a>
</div>
<!-- <div class="break"></div>
</div> -->

<br><br>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>


        function update_deck_id(id) {
            $('#deck-' + id + '-refresh').html('<img src="{{ url_for('static', filename='loading.gif') }}">');
            $.post('/update_deck_id', {'id' : id}).done(function(response) {
                const deck_price_season = response['deck_price_season']
                if (deck_price_season > {{ budget }}) {
                  $('#deck-' + id + '-deck_price-season').html('<div style="color:red; font-weight: bold;"> $' + response['deck_price_season'] + '</div>')
                } else {
                  $('#deck-' + id + '-deck_price-season').html('<div style="color:green; font-weight: bold;"> $' + response['deck_price_season'] + '</div>')
                }
                $('#deck-' + id + '-deck_price-season-new').text('$'+response['deck_price_season_new'])
                $('#deck-' + id + '-commander_price').text(response['commander_price'])
                $('#deck-' + id + '-modified').text(response['modified'].substr(0,16))
                $('#deck-' + id + '-refresh').text('🔄');
            }).fail(function(response) {
              console.log(response)
            })
        };

        function sleep(ms) {
          return new Promise(resolve => setTimeout(resolve, ms));
        }


        async function onLoad() {
          var decks = $('div.deck-ids').toArray();
          for (i =0; i <decks.length; ++i) {
            update_deck_id(decks[i].textContent);
            await sleep(100);
          }
        }

            // onLoad();
    </script>
{% endblock %}
