{% extends 'base.html' %}


{% block content %}
<div id="gap"></div>
<header>
<div class="container">
<div class="banner-image">
<div>
<h1 class="banner-text"> {{ title }} budget</h1>
<!-- <h2 class="banner-text">Oathbreaker decks must be $35 or below. Oathbreakers themselves must be $10 or under. <br><br>
  For the deck price, card costs are calcualted with the cheapest edition of each card.
The price is also averaged over prices since 11/11/2020.</h2> -->
<left>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p><br>
        <b>Add Archidekt URL:</b>
        {{ form.url(size=32) }} {{ form.submit() }}

    </p>
</form>
</header>
</left>



{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li style="color:red"><b>{{ message }}</b></li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
<div class="table-area">

<center>
[ <a href='edh' style="color:rgb(255, 102, 26);">See all [P] decks</a>, 
<a href='edh-experimental' style="color:rgb(255, 102, 26);">See all decks</a>,
<a href='oathbreaker' style="color:rgb(255, 102, 26);">Oathbreaker</a> ]
<br>[ Filter by: 
{% for owner in owners %}
<a href='edh-experimental?owner={{owner}}' style="color:rgb(142, 128, 255);">{{owner}}</a> 
{% if not loop.last %}
    |
{% endif %}
{% endfor %} ]
     
<br>
Deck price includes commander, overall budget is ${{ budget }}.

<h2>Average deck price is
  <span class="price-status {% if average_price > budget %}price-status--over{% else %}price-status--under{% endif %}">
    ${{ average_price }}
  </span>
</center>


<table class="deck-list-table" data-budget="{{ budget }}" data-loading-image="{{ url_for('static', filename='loading.gif') }}">
    <tr>
        <th></th>
        <thead>
        <th></th>
        <th>Season<br>Price</th>
        <th>Next Season<br>Price</th>
        <th>Deck Name</th>
        <th>User</th>
        <th>Commander</th>
        <th>Commander<br>Price</th>
        <!-- <th>Card<br>Count</th> -->
        <th>Last Updated</th>
        </thead>
    </tr>
    {% for result in results %}
    <tr class="deck-row" data-deck-id="{{ result['id'] }}">
      <td><a href="#" class="deck-refresh" data-deck-id="{{ result['id'] }}">
        <span id="deck-{{ result['id'] }}-refresh">🔄</span>
      </a></td>


      
      <td>
        <a href="deck?archidekt_id={{ result['id'] }}">
        <span id="deck-{{ result['id'] }}-deck_price-season">
          <span class="price-status {% if result['deck_price_season'] > budget %}price-status--over{% else %}price-status--under{% endif %}">
            ${{ result['deck_price_season'] }}
          </span>
      </span>
    </a>
    </td>

      
    <td>
      <a href="deck?archidekt_id={{ result['id'] }}">
      <span id="deck-{{ result['id'] }}-deck_price-season-new">
        ${{ result['deck_price_season_new'] }}
    </span>
  </a>
  </td>

        <td>
          <a href="{{ result['url']}}">
            {{ result['name'] }}
          </a>

          {% if result['free_cards'] != 0 %}
          Weird cards detected
          {% endif %}

        </td>
        <td>
          <!-- <a href="{{ result['owner']}}"> -->
            <span id="deck-{{ result['id'] }}-owner">
              {{ result['owner'] }}
            </span>
          <!-- </a> -->
        </td>
        <td>
          <a href="{{ result['commander_url'] }}">
            <span id="deck-{{ result['id'] }}-commander">
              {{ result['commander'] }}
            </span>
          </a>
        </td>
        <td><span id="deck-{{ result['id'] }}-commander_price">{{ result['commander_price'] }}</span></td>
        <!-- <td><span id="deck-{{ result['id'] }}-cards">{{ result['cards'] }}</span></td> -->
        <td><span id="deck-{{ result['id'] }}-modified">{{ result['modified'] }}</span></td>
    </tr>
    {% endfor %}
</table>

<div class="update">
<a href="#" class="update-all-decks">
  Update All
</a>
</div>
<!-- <div class="break"></div>
</div> -->

<br><br>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='decks.js') }}"></script>
{% endblock %}
